.brandLogo {
    width: 30%;
}


.shopPage {
    background-image: url(./assets/bg-img/3162508.jpg);
    background-size: cover;
}

.productImg {
    width: 100%;
    height: 300px;
}

.card-title.h5 {
    font-size: 1rem;
}

.cardHover {
    position: relative
}

.overLay {
    background-color: black;
    width: 100%;
    position: absolute;
    top: 92%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5 ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    cursor: pointer;
}


.cardHover:hover .overLay {
    opacity: 1;

}

.text {
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 2%;
}

.carousel-control-next-icon {
    color: white !important;
}

.carousel-caption h5,
.carousel-caption p {
    color: white;
}

.carousel-indicators [data-bs-target] {
    background-color: white !important;
}

.trashNCount {
    display: flex;
    align-items: end;

}

.trash {
    cursor: pointer;
}


.text-light {
    position: relative;
}

.cartBadge {
    position: absolute;
    top: 27%;
    bottom: 55%;
    left: 84.5%;
    right: 18.%;
}



.product {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.foot {
    background-color: black;
}

.foot p {
    color: white;
}

.foot .fa {
    color: white;
    margin-right: 2%;
}

.yellowLign {
    background-color: #ffc010;
    width: 15%;
    padding: .5%;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    margin-top: 10%;
}

.socialMedia {
    font-size: 30px;
    margin: 5% 2%;
    color: #ffc010;
    cursor: pointer;
}

.section1 {
    background-image: url('https://www.xtrafondos.com/wallpapers/resoluciones/22/jinx-arcane-league-of-legends_3840x2160_9295.jpg');
    background-position: center;

}

.homePageTitle {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    width: 45%;
    margin-bottom: 3%;
}

.btn.btn-warning {
    padding: 1%;
    width: 15%;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(rgba(85, 126, 182, 255), rgba(50, 58, 104, 255), rgba(185, 49, 160, 255));
    border: none;
    margin-bottom: 5%;
}

.btn.btn-warning a {
    text-decoration: none;
    color: white;
}

.section2 {
    background-image: url('https://wallpapercave.com/wp/wp2661659.jpg');
    background-position: center;
    padding: 2%;
    color: white;
}

.section2 .btn.btn-outline-warning a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.picBlock {
    position: relative;
}

.gaminGirl {
    border-radius: 10px;
}

.experiences {
    position: absolute;
    top: -5%;
    bottom: 0;
    left: 70%;
    right: 0;
}

.ten {
    position: absolute;
    top: 7%;
    bottom: 0;
    left: 33%;
    right: 0;
    font-weight: bold;
    font-size: 3rem;
}

.spinImg {

    @-webkit-keyframes rotating

    /* Safari and Chrome */
        {
        from {
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


    @keyframes rotating {
        from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


    .rotating {
        -webkit-animation: rotating 120s linear infinite;
        -moz-animation: rotating 120s linear infinite;
        -ms-animation: rotating 120s linear infinite;
        -o-animation: rotating 120s linear infinite;
        animation: rotating 120s linear infinite;
    }
}

.gaminMan {
    border-radius: 10px;
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 25%;
    right: 0;
}

.diamonds {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 25%;
    width: 40%;
}

.section2 h2 {
    font-size: 3rem;
    font-weight: bold;
    width: 80%;
    margin-bottom: 3%;
}

.section2 span {
    color: #ffc010;
}

.section2 p {
    margin-bottom: 4%;
}

.trait {
    margin-bottom: 3%;
}

.check {
    list-style: none;
    padding: 0;
}


.btn.btn-outline-warning {
    padding: 2%;
    width: 30%;
    margin-top: 4%;
}

.services-box {
    margin-top: 30%;
    background-color: #2e3d6a1f;
    padding: 8%;
    border: 1px solid #ffc010;
    border-radius: 10px;
}


.services-box .boxIcons {
    font-size: 40px;
    margin-right: 5%;
    color: #ffc010;
}

.section3 {
    background-image: url('https://wallpapercave.com/wp/wp11471508.png');
    background-position: center;
}

.trendingGames {
    font-weight: bold;
    color: white;
}

.trendingGames span {
    color: #ffc010;
}

.card {
    background-image: linear-gradient(rgba(43,24,76,255), rgba(124,129,249,255), rgba(201,183,231,255));
}

.card-img-top {
    width: 100%;
    height: 400px;
}

.card a {
    text-decoration: none;
    color: white;
}

.section4 {
    background-image: url('https://wallpapercrafter.com/sizes/1920x1080/143323-keyboards-tech-dark-numbers-red.jpg');
    padding: 9%;
}

.section4 h3 {
    margin-bottom: 2%;
}

.section4 span {
    color: #fb2834;
}

.section4 p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 50%;
}

.section4 button {
    display: block;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    width: 15%;
    padding: 1%;
    background-image: linear-gradient(rgba(7,13,73,255), rgba(107,10,12,255), rgba(241,60,68,255));
    border: none;
}

.section4 button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.aboutUsSection1 {
    background-color: black;
    color: white;
}

.gamingSets {
    position: relative;
}

.gSet2 {
    position: absolute;
    top: 56%;
    bottom: 0;
    left: -40%;
    right: 0;
    width: 60%;
    border-radius: 5px;
}

.gSet1 {
    border-radius: 5px;
}

.aboutUsSection2 {
    background-color: black;
    color: white;
}

.teamBlock {
    position: relative;
    margin-top: 5%;
}

.teamPic {
width: 100%;
height: 380px;
}

.memberDescription {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    color:#e28743;
    font-weight: bold;
    text-align: center;
}

.bg-Map {
    background-image: url('https://reactdemo-eoorox.soyonexpress.com/static/media/map-contact.34cff14b1bc28ca8cbb2.png');
    background-position: center;
    background-size: cover;
    padding: 30%;
    background-color: #220f3c;
}


.contactForm {
    background-color: #220f3c;
}

.col1.col {
    color: white;
}

.col1.col span {
    color: #ffc010;
}

.col1.col ul {
    list-style: none;
    padding-left: 0;
}

.theForm {
    color: white;
}

.theForm span {
    color: #ffc010;
}

.registerPage {
    background-color: black;
}

.form-control {
    margin-bottom: 2%;
}

.registerPage span {
    margin-left: 2%;
}

.registerPage p {
    text-align: center;
    margin-top: 2%;
    color: #fb2834;
}

.registerPage h5 {
    text-align: center;
    color: white;
}